colored
cuda-python
diffusers
ftfy
matplotlib
nvtx
onnx==1.13.1
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon==0.3.26
onnxruntime==1.14.1
polygraphy==0.44.2
scipy
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.0+cu116
transformers
accelerate
